@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');



@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  /* Clases personalizadas para la fuente redondeada */
.rounded-black {
  font-family: var(--font-rounded-black);
  font-weight: 900; /* Black */
}

/* Opcional: Extiende Tailwind con la nueva fuente */
@layer utilities {
  .font-rounded-black {
    font-family: var(--font-rounded-black);
    font-weight: 900;
  }
}
}